---
import Hero from "@/sections/hero.astro";
import Layout from "../layouts/Layout.astro";
import Header from "@/sections/header.astro";
import Footer from "@/sections/footer.astro";
import Projects from "@/sections/projects.astro";
import About from "@/sections/about.astro";
import Contact from "@/sections/contact.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Projects />
    <About />
    <Contact />
  </main>
  <Footer />
</Layout>
