---
import { Rocket } from "lucide-react";
import { Button } from "./ui/button";

interface Props {
  href: string;
  text: string;
}

const { href = "#", text = "Contáctame" }: Props = Astro.props;
---

<Button size="xl" className="group">
  <a href={href}>{text}</a>
  <Rocket
    className="ml-2 w-4 h-4 group-hover:translate-x-1 transition-transform"
  />
</Button>
