---

---

<section
  id="contact"
  class="flex flex-col min-h-screen items-center justify-center bg-linear-to-br from-[#ffffff] via-[#d1d4d6] to-[#c8cdce] overflow-hidden px-4 sm:px-6 lg:px-8"
>
</section>
