---
import Cta from "@/components/CTA.astro";
import { Button } from "@/components/ui/button";
import SplitText from "@/components/SplitText";
import TextType from "@/components/TextType";
import AnimatedContent from "@/components/AnimatedContent";
import FadeContent from "@/components/FadeContent";
---

<section
  id="hero"
  class="flex flex-col min-h-screen items-center justify-center bg-linear-to-br from-[#1E2952] via-[#1B4B7F] to-[#0F6E8F] overflow-hidden"
>
  <div class="flex flex-col md:flex-row justify-center items-center">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-10">
      <div class="max-w-4xl mx-auto text-center space-y-8">
        <SplitText
          client:load
          duration={0.1}
          className="text-3xl sm:text-4xl lg:text-5xl font-bold text-white min-h-28 md:min-h-24"
        >
          Construyo <span class="text-blue-500">Productos Digitales</span> Que Impulsan
          Tu Negocio
        </SplitText>

        <TextType
          client:load
          text={[
            `Ingeniero de software especializado en desarrollo web full-stack.`,
            `Transformo requisitos complejos en productos escalables fáciles de usar.`,
          ]}
          typingSpeed={55}
          pauseDuration={1300}
          deletingSpeed={40}
          showCursor={true}
          cursorCharacter="|"
          className="text-xl sm:text-2xl text-[#A8BDD0]  mx-auto mt-8 mb-4 min-h-14 md:min-h-24 lg:min-h-14 "
        />

        <div
          class="flex flex-row md:flex-row sm:flex-row gap-4 justify-center items-center pt-2"
        >
          <AnimatedContent
            client:load
            direction="horizontal"
            delay={0.2}
            reverse
            duration={1}
            initialOpacity={0.1}
          >
            <Cta text="Contáctame" href="#contact" />
          </AnimatedContent>
          <AnimatedContent
            client:load
            direction="horizontal"
            delay={0.2}
            reverse
            duration={1}
            initialOpacity={0.1}
          >
            <Button
              size="xl"
              variant="outline"
              className="bg-transparent text-white border-white hover:bg-white/10"
            >
              <a href="#projects">Ver proyectos</a>
            </Button>
          </AnimatedContent>
        </div>
      </div>
    </div>
    <FadeContent
      blur={true}
      duration={1000}
      ease="ease-out"
      initialOpacity={0}
      client:load
      className="flex flex-col items-center justify-center mt-5"
    >
      <img
        fetchpriority="high"
        src="https://res.cloudinary.com/dygwnv56x/image/upload/v1764515416/Eleqful_olxchs.webp"
        alt="Elean Quintero - Ingeniero de Software Full-Stack"
        class="h-4/6 w-4/6 rounded-xl aspect-auto"
      />
    </FadeContent>
  </div>
</section>
